#wrap{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

#tooltip-ej{
  position: relative;
  top: 200px;
  margin: 0 auto;
}

/* tooltip styling. by default the element to be styled is .tooltip  */
.tooltip {
  display:none;
  background:transparent url(black_arrow.png);
  font-size:12px;
  height:70px;
  width:160px;
  padding:25px;
  color:#eee;
}
